# {{ ansible_managed }}
# List of general options
verbose: {{ sslh_verbose }};
foreground: {{ sslh_foreground }};
inetd: {{ sslh_inetd }};
numeric: {{ sslh_numeric }};
transparent: {{ sslh_transparent }};
timeout: {{ sslh_timeout }};

# List of interfaces
listen:
(
{% for listen in sslh_listen %}
   { host: "{{ listen.host }}"; port: "{{ listen.port }}" }
{% endfor %}
);

# List of protocols
protocols:
(
{% for service in sslh_protocols %}
   { name: "{{ service.name }}", {% if service.service %}service: "{{ service.service }}", {% endif %} host: "{{ service.host }}", port: "{{ service.port }}"{% if service.probe is defined %}, probe: {{ service.probe }} {% endif %} }{% if not loop.last %},{% endif %}
   
{% endfor %}
);

{% if sslh_ontimeout %}
on-timeout: "{{ sslh_ontimeout }}"
{% endif %}
